@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
}

.happy-new-year{
    width: 1200px;
    height: 600px;
    border-radius: 16px;
    margin: 50px auto;
    align-items: center;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) ,url('/resources/Banner\ Image.png');
    background-repeat: none;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.happy-new-year h4{
    color: #FFF;

text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top:200px;
}

.happy-new-year h1{
    color: #FFF;
width: 600px;
align-items: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; 
padding-top: 0px;
padding-bottom: 0px;
padding-left: 270px;
}

            /* 65% off section */

.off-section{
    width: 700px;
    margin: 50px auto;
    text-align: center;
    align-items: center;
}

.off-section h1{
    color: #F00;
    margin-bottom: 20px;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.off-section h6{
    color: #F00;

text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 10px;
}

.off-section h3{
    color: #070211;

text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

/* welcome to midnight party section */

.midnight-party{
    margin: 100px 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 100px; */
    background:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) ,url('/resources/Vectorrr.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 30px;
}

.midnight-party h1{
    color: #FFF;

font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px;
letter-spacing: 7.04px;
margin-bottom: 20px;
}

.midnight-party p{
    color: rgba(255, 255, 255, 0.80);

font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-bottom: 20px;
}

.midnight-party h6{
    color: #FFF;

text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
text-align: left;
}

/* information section */

.information-section{
    width: 1050px;
    height: 482px;
    margin: 100px 140px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
   border-radius: 10px;
    
}

.dic{
    padding-top: 100px;
}


.information-section h3{
    color: #070211;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
text-align: center;
margin-left: -80px;

}

.information-section span{
    color: #F00;

text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px; /* 175% */
text-transform: capitalize;
}

.information-section button{
padding: 16px 32px;
gap: 10px;
border-radius: 8px;
background: #F00;
color: #FFF;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
border: none;
margin-left: 450px;
margin-top: 20px;

}

/* new best offer */

.best-offer{
    width: 1050px;
    margin: 100px 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background: #FFF;
}

.best-offer div{
    width: 47%;
    text-align: left;
}

.best-offer h3{
    color: #F00;


font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 10px;
}

.best-offer h4{
    color: #070211;

font-family: Merriweather;
font-size: 45px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
margin-bottom: 10px;
}

.best-offer p{
    color: rgba(7, 2, 17, 0.60);

font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
}

.best-offer h2{
    color: #F00;

font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 10px;
}

.best-offer-pic{
    margin-top: 15px;
}

.border-img{
    padding: 25px;
    border-radius: 463px;
    border: 15px solid #F00;
}

/* holiday sale section */

.holiday{
    width: 1050px;
    margin: 100px auto;
    text-align: center;
   
    
   
}

.holiday h3{
    color: #070211;

font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 10px;

}

.holiday h1{
    color: #070211;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
margin-bottom: 10px;
}

.holiday span{
    color: #F00;

text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.holiday p{
   padding:0px 70px;
}

.holiday-first{
    display: flex;
}

.first{
    margin-left: 780px;
    margin-top: -700px;
    margin-bottom: 330px;
}
.second{
    width: 300px;
    margin-left: 750px;
    
}

.three{
    margin-top: -5px;
}
.four{
    margin-left: 250px;
    margin-top: -700px;
    margin-bottom: 200px;
}

.discount{
    margin-top: 50px;
}
